/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import "~nouislider/distribute/nouislider.min.css";
body
{
    margin:0%;
    background-color: #eee;
}
.mat-option-text
{
    user-select: none;
}
.ColorPicker
{
    width: 200px;
}