.Sharing
{
   display: flex; 
   justify-content: center;
}
.Accessability
{
    display: flex; 
    justify-content: center;
}
.UserProfile
{
    display: flex; 
    justify-content: center;
    align-items: center;
}